*{
    margin: 0;
    padding: 0;
}
.contain{
    height: 100vh;
    background-image: url(./images/particle.png);
    /* background-image: url(./images/back.mp4); */
}
.bim{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}
.btn{
    padding: 10px;
}
.card{
    background: rgba(165, 165, 165, 0.13);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.13);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;   
}
.result{
    height: 20px;
}